/* ==================== Genel ==================== */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    overflow-x: hidden;
}

/* Ortak cam efekti */
.glass,
.ClassDiv,
.allDivs {
    background: linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0.09),rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
}

/* ==================== Divider ==================== */
hr {
    width: 100%;
    margin: 20px 0;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5.5px whitesmoke;
}

.PatternM{
    width: 200px;
}

.Indicator{
    background: linear-gradient(135deg,rgba(46,46,46,0.5),rgba(0,0,0,0.7));
}

/* ==================== Ana Yapılar ==================== */
.allDivs {
    margin: 1%;
    padding: 0 20px 20px;
    width: 100%;
    display: grid;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 15px whitesmoke;
}

.Container,
.ClassDiv,
.AdderSet {
    width: 100%;
    min-height: 300px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px whitesmoke;
}

.AdderSet {
    display: grid;
    gap: 15px;
    border-radius: 0 0 20px 20px;
    background-color: #5b5b5b;
}

.ReturnDiv,
.InfoDiv {
    width: 50%;
    min-height: 300px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    box-shadow: inset 0 0 10px whitesmoke;
    transition: .2s ease-in-out;
}

.InfoDiv {
    background: linear-gradient(135deg,rgba(46,46,46,0.1),rgba(46,46,46,0.5));
}

.ReturnDiv {
    background: linear-gradient(-135deg,rgba(0,0,0,0.1),rgba(0,0,0,0.7));
    font-family: 'Courier New', Courier, monospace;
}

.Searchs{
    display: flex;
    justify-content: center;
}

.ReturnDiv:hover,
.InfoDiv:hover{
   width: 55%;
   box-shadow: whitesmoke 0px 0px 10px;
}
.ReturnDiv:hover{
    background: linear-gradient(-135deg,rgba(0,0,0,0.5),rgba(0,0,0,0.8));
}
.InfoDiv:hover{
    background: linear-gradient(135deg,rgba(100,100,100,0.5),rgba(100,100,100,0.8));
}

/* ==================== Buton & Bilgi Kutuları ==================== */

.Search{
    width: 250px;
    height: 25px;
    border-radius: 20px;
    border: rgba(255,255,255,0.2) 1px solid;
    text-align: center;
    background: linear-gradient(135deg,rgba(175,175,175,0.5),rgba(15,15,15,0.5));
    transition: .3s ease-in-out;
}
.SearchBtn{
    border-radius: 20px;
    border: rgba(255,255,255,0.2) 1px solid;
    text-align: center;
    background: linear-gradient(135deg,rgba(175,175,175,0.5),rgba(15,15,15,0.5));
    transition: .3s ease-in-out;
}

.Kategory,
.MethotBack,
.MethotInfo {
    min-width: 250px;
    min-height: 40px;
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: border 0.3s ease-in-out;
}

.Kategory {
    width: 100%;
    font-size: 20px;
    background: linear-gradient(135deg,rgba(110,110,110,0.7),rgba(110,110,110,0));
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    text-align: center;
}

.MethotInfo {
    background: linear-gradient(135deg,rgba(46,46,46,0.1),rgba(46,46,46,0.5));
    max-width: 900px;
}

.MethotBack {
    max-width: 900px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1));
    color: snow;
}

.Search:hover,
.Kategory:hover,
.MethotBack:hover,
.MethotInfo:hover {
    border: 1px solid white;
}

.Search:focus,
.Kategory:focus,
.MethotBack:focus,
.MethotInfo:focus {
    background: linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    border-color: white;
    box-shadow: 0 0 10px white;
    transition: border 0.9s ease-in-out;
}

.MethotBack:focus{
    background: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0.9));
}

.DeleteBtn,
.AddBtn{
    width: 100px;
    height: 30px;
    border: rgba(255,255,255,0.2) 1px solid;
    border-radius: 25px;
    box-shadow:inset rgba(0,0,0,0.5) 0px 0px 10px;
    background: rgba(200,200,200,0.1);
    transition: border 0.3s ease-in-out;
}

.SearchBtn:hover,
.DeleteBtn:hover,
.AddBtn:hover{
    color: white;
    border: whitesmoke 1px solid;
    box-shadow: whitesmoke 0px 0px 5px;
    cursor: pointer;
}

/* ==================== Container ==================== */

.Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* 1. satırda ortadaki kolon geniş */
.ClassRow{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 10px;
}

/* 2. satırda ortadaki kolon dar */
.ContentRow{
    display: grid;
    grid-template-columns: 2fr 0.2fr 2fr;
    gap: 1%;
}

.ButtonsRow{
  display: grid;
  grid-template-columns: auto 2fr auto; /* sol buton - span - sağ buton */
  gap: 10px;
  align-items: center;
}

/* ==================== Scrollbar ==================== */
.MethotBack::-webkit-scrollbar,
.MethotInfo::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.MethotBack::-webkit-scrollbar-thumb,
.MethotInfo::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg,rgba(125,125,125,0.1),rgba(125,125,125,0.9));
    border: 1px solid white;
    border-radius: 30px 90px 90px 30px;
    cursor: grab;
}

.MethotBack::-webkit-scrollbar-thumb:hover,
.MethotInfo::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg,rgba(125,125,125,0.3),rgba(125,125,125,1));
}
.MethotBack::-webkit-scrollbar-corner,
.MethotBack::-webkit-resizer,
.MethotInfo::-webkit-scrollbar-corner,
.MethotInfo::-webkit-resizer {
    background: linear-gradient(135deg,rgba(125,125,125,0.1),rgba(125,125,125,0.9));
    border: 1px solid white;
    border-radius: 90px 50px 0 50px;
    transition: 0.3s;
}