body {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100%;
    box-shadow: whitesmoke 0px 0px 5.5px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    margin: 20px 0;
}

.ClassDiv,
.allDivs,
.glass{
    background: linear-gradient(90deg,rgba(255,255,255,0.1), rgba(255, 255, 255, 0.09),rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.allDivs {
    margin: 1%;
    width: 100%;
    border-radius: 20px;
    border: whitesmoke solid 1px;
    box-shadow: whitesmoke 0px 0px 15px;
    display: grid;
    grid-gap: 20px;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}

.Container,
.ClassDiv,
.AdderSet{
    border-radius: 20px;
    border: whitesmoke solid 1px;
    box-shadow: whitesmoke 0px 0px 10px;
    padding: 20px;
    box-sizing: border-box;

    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.ClassDiv{
    /* background-color: #3e3e3e;  */
}
.AdderSet {
    border-radius: 0px 0px 20px 20px;
    background-color: #5b5b5b;
    display: grid;
    grid-gap: 5px;
}
.Container{
    width:max-content;
    max-width: 1300px;
    min-height: 0px;
}

.ReturnDiv,
.InfoDiv{
    border-radius: 20px;
    border: whitesmoke solid 1px;
    box-shadow:inset whitesmoke 0px 0px 10px;
    padding: 20px;
    box-sizing: border-box;

    width: 50%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.InfoDiv{
    background:linear-gradient(135deg,rgba(46,46,46,0.1),rgba(46,46,46,0.5));
}
.ReturnDiv{
    background:linear-gradient(-135deg,rgba(0,0,0,0.1),rgba(0,0,0,0.7)) ; 
    font-family:'Courier New', Courier, monospace;
}


.Kategory,
.MethotBack,
.MethotInfo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
    border-radius: 15px 15px 0px 15px;
    /* max-width: 50%; */
    min-width: 250px;
    min-height: 40px;
    box-sizing: border-box;
    transition: border .3s ease-in-out;
}

.Kategory{
    background:linear-gradient(135deg,rgba(110,110,110,0.7),rgba(110,110,110,0)) ;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    min-width: 100%;
}
.MethotInfo {
    background:linear-gradient(135deg,rgba(46,46,46,0.1),rgba(46,46,46,0.5));
}
.MethotBack{
    background:linear-gradient(135deg, rgba(0,0,0,0.7),rgba(0,0,0,0.1)) ;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}

.Kategory:focus,
.MethotBack:focus,
.MethotInfo:focus{
    background:linear-gradient(90deg, rgba(255,255,255,0.1),rgba(255,255,255,0)) ;
    box-shadow: white 0px 0px 10px;
    border-color: white;
    transition: border .9s ease-in-out;
}

.Container{
    display: grid;
    grid-template-areas: "Info Return" "Add Delete";
    grid-template-columns: 50% 50%;
}
.Container > textarea.MethotInfo{
    grid-area: "Info";
    max-width: 50%;
}